body {
  background-color: #424242;
  min-height: 100vh;
  font-family: 'Ubuntu';
}

.App {
  font-size: calc(10px + 2vmin);
  color: white;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  padding: 20px;
  width: inherit;
  height: inherit;
  max-width: 2000px;
}
