.App {
  background-color: #424242;
  width: 100%;
  font-size: calc(10px + 2vmin);
  color: white;

  display: flex;
  flex-direction: row;
}

.content {
  padding: 20px;
  width: inherit;
  height: 100%;
  max-width: 2000px;
}
