body {
  background-color: #1d1f20;
  font-family: "Ubuntu";
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

#root {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.App {
  font-size: calc(10px + 2vmin);
  color: white;

  display: flex;
  flex-direction: column;
  max-width: 1500px;
  width: 100%;
}

.content {
  padding: 0 20px;
  height: inherit;
  max-width: 1500px;
  flex-grow: 1;
  animation: fadeIn 1s;
}
